<p id="notice"><%= notice %></p>

<h1>Players</h1>

<table>
  <thead>
    <tr>
      <th>Island</th>
      <th>Name</th>
      <th>Nickname</th>
      <th>Friend code</th>
      <th>Dodo code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.island %></td>
        <td><%= player.name %></td>
        <td><%= player.nickname %></td>
        <td><%= player.friend_code %></td>
        <td><%= player.dodo_code %> <%= format_dodo_code_created_at player.dodo_code_created_at %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
