<p id="notice"><%= notice %></p>

<p>
  <strong>Island:</strong>
  <%= @player.island %>
</p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @player.nickname %>
</p>

<p>
  <strong>Friend code:</strong>
  <%= @player.friend_code %>
</p>

<p>
  <strong>Dodo code:</strong>
  <%= @player.dodo_code %> <%= format_dodo_code_created_at @player.dodo_code_created_at %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
